.footer
    &__main
        flex-wrap: wrap
    &__subscribe,
    &__info,
    &__get-in-touch
        width: calc(100% / 3 - 20px)
        margin: 0 10px
    &__payment
        text-align: left
        width: 40%
    &__input
        padding: 12px
        width: 290px
        border: 1px solid #D9D9D9
        &::placeholder
            color: #6A6A6A
            font-size: 14px
            transition: opacity .2s ease
        &:focus 
            &::placeholder
                opacity: 0
    &__submit-button
        background: $dark
        color: white
        font-size: 13px
        font-family: 'Karla Bold'
        letter-spacing: .7px
        text-transform: uppercase
        padding: 12px 15px
        margin: 0 0 0 -5px
        border: none
        cursor: pointer
        transition: background .35s ease
        &:hover
            background: lighten($dark, 10%)
        &:active
            background: darken($dark, 5%)
    /* Subscribe container */
    &__subscribe 
        background: teal
        width: 100%
        padding: 15px
        justify-content: space-around
        align-items: center
    &__cards
        li
            display: inline-block
            max-width: 45px
            width: 100%
            height: auto
            img
                height: 100%
                width: 100%
    /* Info container */
    &__info
        background: tomato
        height: 200px
        width: calc(50% - 20px)

    /* Get in touch container */
    &__get-in-touch
        background: yellow
        width: calc(50% - 20px)
        height: auto
